body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.buttons {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size:17px;
    padding-bottom: 4px;
}
.big-buttons {
    border-radius: 8px;
    font-size: 30px;
    padding-bottom: 6px;
}
.buttons:hover {
    opacity: 80%;
}

.dark {
    color: rgb(231, 230, 230);
    background: rgb(80, 80, 80);  
}

.light {
    background: rgb(202, 202, 202);  
}

body a{
    color: rgb(231, 230, 230);
}

header {
    padding-left: 10px;
    display: flex;
    position: fixed;
    width: 100%;
}

header div {
    align-self: center;
    margin-left: auto;
    padding-right: 10px;
}

menu {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: row;
}

menu li{
    padding: 0 0.3em;
}

menu a {
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px; 
    margin-bottom: 10px;
}

.popup {
    display: block;
    background: white;
    max-width: 650px;
    padding: 50px;
    margin: 20px;
}

.centered {
    text-align: center;
    justify-content: space-around;
}

.centered div{
    padding-top: 50px;
}

footer {
    margin-top: auto;
    flex: 0 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    float: right;
}