body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dark {
    color: rgb(231, 230, 230);
    background: rgb(80, 80, 80);  
}

.light {
    background: rgb(202, 202, 202);  
}

body a{
    color: rgb(231, 230, 230);
}

menu {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: row;
}

menu li{
    padding: 0.3em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.popup {
    display: block;
    background: white;
    max-width: 650px;
    padding: 50px;
    margin: 20px;
}

.centered {
    text-align: center;
}

footer {
    margin-top: auto;
    flex: 0 30px;
}

footer a {
    float: right;
}