body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.buttons {
    background-color: rgb(33,33,33);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size:17px;
    padding-bottom: 4px;
}
.big-buttons {
    border-radius: 8px;
    font-size: 30px;
    padding-bottom: 6px;
}
.buttons:hover {
    opacity: 80%;
}

.dark {
    color: rgb(231, 230, 230);
    background: rgb(80, 80, 80);  
}

.light {
    background: rgb(202, 202, 202);  
}

body a{
    color: rgb(231, 230, 230);
    text-decoration: none;
}
body a:hover {
    color: rgb(146, 146, 146);
}
nav .active {
    text-decoration: underline;
}

header {
    padding-left: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
}

header div {
    align-self: center;
    margin-left: auto;
    padding-right: 10px;
}

menu {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: row;
}

menu li{
    padding: 0 0.3em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px; 
    padding-bottom: 10px;
}

.popup {
    display: block;
    background: white;
    min-width: 475px;
    max-width: 70vw;
    padding: 30px;
    padding-top: 20px;
    margin: 20px;
}

.centered {
    text-align: center;
    justify-content: space-around;
}

.centered div{
    padding-top: 50px;
}

.quote {
    font-style: italic;
}
  
.author {
    font-weight: bold;
    text-align: right;
}
  
.author::before {
    content: " - ";
}

footer {
    margin-top: auto;
    flex: 0 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

footer a {
    float: right;
}

.small-title {
    display: none;
}

.long {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first {
    padding-bottom: 25px;
}

@media (max-width: 815px) {
    .small-title { display: inline-block; }
    .full-title { display: none; }
}