main .sides {
    padding-top: 3px;
    display: flex;
}

.sides button {
    padding: 0px;
    border: none;
    color: none;
}
.sides button:hover {
    opacity: 80%;
}

.sides div {
    padding: 5px;
    justify-content: space-between;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .middle {
    padding: 60px;
}